.text {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.text h1 {
    margin: 10px 0;
    font-size: 70px;
}

.verification {
    text-align: center;
    margin-top: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: black;
  }
  
  button {
    font-size: 15px;
    border-radius: 35px;
    padding: 3px;
    border-color: chocolate;
}

button:hover {
    background-color: chocolate;
    transition: 0.5s;
    color: white;
}

  