div {
    text-align: center;
}

label {
    text-align: left;
}


.container {
    text-align: center;
    margin-top: 20px;
  }
  
  .send-btn {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .message-box {
    padding: 10px;
    margin-top: 10px;
    background: white;
  }
  